

    <table class="highlight responsive-table" id="meal-list">

        <thead>
            <tr>
                <th><h5>Recipes</h5></th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody>
           {{#each dbRecipe}}        
                <tr data-id="{{this.dataValues.id}}">
                    <td>                        <p>
                            <label>
                                <input type="checkbox" {{checked}}/>
                                <span></span>
                            </label>
                        </p>
                    </td>

                    <td><a href="recipes/{{this.dataValues.id}}">{{this.name}}</a></td>
                    
                    <td>{{this.ingredients}}</td>
                    
                    <td><button id={{id}} class="btn-floating btn-small scale-transition">
                        <i class="material-icons">remove</i>
                        </button>
                    </td>
                
                </tr>
            {{/each}}                 
        </tbody>
    </table>