{{#if recipes}}
<table class="highlight responsive-table" class="recipes-list">

    <thead>
        <tr>
            <th>
                <h5>Meals List</h5>
            </th>
            <th>Remove</th>
        </tr>
    </thead>

    <tbody>
        {{#each recipes}}
        <tr data-id="{{this.dataValues.id}}">
            <td><a href="meals/{{this.dataValues.id}}">{{this.name}}</a></td>
            <td><button id={{id}} class="btn-floating btn-small scale-transition">
                    <i class="material-icons">remove</i>
                </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="recipe-list">
    <button class="btn waves-effect waves-light" id="find-recipes" type="submit" name="action">Find Recipes
        <i class="material-icons right">send</i>
    </button>
</div>
{{/if}}