<div class="row">
    {{#each recipeList}}
    <div class="col s12 m6 l4">
        <div class="card recipecard-css hoverable">
            <div class="card-image waves-effect waves-block waves-light div-image-size">
                <a href="{{this.dataValues.url}}"><img class="activator image-size" src="{{this.dataValues.image}}"></a>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{this.dataValues.label}}<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{this.dataValues.label}}<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light red delete-button-recipe" delID="{{this.dataValues.id}}"
                    type="submit" name="action">Delete
                    <i class="material-icons right">delete</i>
                </button>
            </div>
        </div>
    </div>

    {{/each}}
</div>